
<div class="movie-container">
    <div *ngFor="let movie of movies">
        <p><a routerLink="./movie-details">
            <img id="movie-poster" src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" alt="movie-poster"></a></p>
        <h4 id="movie-title">{{ movie.title }}</h4>
        <!-- Usar o operador pipe para formatar a data em ano -->
        <h4 id="movie-date">{{ movie.release_date | date: 'yyyy' }}</h4>
    </div>
</div>

<!-- //https://image.tmdb.org/: É o domínio da API do TMDB para as imagens -->
<!-- //t/p/: Caminho padrão para o tamanho da imagem. -->
<!-- w200/: Indica a largura de 200 pixels para a imagem buscada. -->
<!-- {{movie.poster_path}}: Caminho da imagem especifica do poster -->
<!-- Seu componente de template HTML -->
