.movie-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-top: -230px; */
    text-align: center;
    /* margin-left: 20px;
    margin-right: 20px; */
}

#movie-title{
    font-size: 15px;
    font-style: normal;
    font-family: helvetica;
    max-width: 60%;
    margin: auto;
    margin-top: 10px;
}

#movie-date{
 margin-top: 5px;
 font-size: 15px;
 margin-bottom: 50px;
}

h4{
    color: rgb(206, 199, 199);  
}

#movie-poster {
    transition: transform 0.3s ease; 
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px ;
    width: 200px;
    height: 300px;
}

#movie-poster:hover {
    transform: scale(1.1); 
}

.card-img-top{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    width: 200px;
    height: 300px;
}






