<div class="top-content">
    <select class="select-content">
      <option value="">Gênero</option>
      <option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</option>
    </select>
    <select class="select-content">
      <option value="">Ordenar</option>
    </select>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>
