#body {
    background-color: black;
    width: 100%;
    margin: auto; 
    display: flex;
    align-items: center; 
}
.img {
    margin-right: 60px;
    border-radius: 10px ;
}

.col-md-4 img {
    width: 100%; 
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; 
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
}

.Back-to-home{
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    margin-left: -480px;
}

